<config>
    <combination>
        <color red="164" green="107" blue="155"/>
        <color red="169" green="114" blue="161"/>
        <color red="164" green="109" blue="157"/>
    </combination>
    <combination>
        <color red="83" green="37" blue="101"/>
        <color red="72" green="27" blue="91"/>
        <color red="51" green="16" blue="63"/>
    </combination>
    <combination>
        <color red="73" green="29" blue="93"/>
        <color red="109" green="52" blue="110"/>
        <color red="189" green="120" blue="165"/>
    </combination>
</config>
